.judul{
    font-family: roboto;
    margin-top: 20px;
    margin-left: 50px;
}

.beli{
    font-family: roboto;
    margin-left: 300px;
    margin-top:  100px;;
}

.cover{
    margin-left: 50px;

}

.deskripsi{
    margin-top: 170px;
    margin-left: 50px;
}

.film-item {
    flex: 0 1 calc(25% - 16px); 
    box-sizing: border-box;
    margin-bottom: 20px;
}

.cover {
    width: 200px; 
    height: 300px; 
    object-fit: cover; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}