.row{
margin-top: 70px; 
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 16px;
}

body{
    .horizontal-scroll {
        max-width: 1000px; /* Set a maximum width for the element */
        overflow: auto;
      }
}






